<h1>Editing Patient</h1>
<%= render "form", patient: @patient %>

<%= link_to "Show this patient", @patient, class: "btn btn-info mt-3" %>
<%= link_to "Back to patients", patients_path, class: "btn btn-secondary mt-3" %>
